@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  font-family: "Press Start 2P", cursive;
  padding: 0;
  margin: 0;
}

body{
  /* background: url("./naruto_img/background.png") no-repeat;
  background-size: cover; */
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* #sound {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  top: 465px;
  left: 15px;
} */

#gameover {
  position: absolute;
  top: -100px;
  width: 1280px;
  height: 720px;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  overflow: hidden;

}
#youwon {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 100px;
  left: 0px;
  display: none;
}

/* #youwon::after{
  content: 'YOU WIN';
  height: 100px;
  width: auto;
  position: absolute;
  z-index: 100;
} */

#youlose {
  height: auto;
  width: 100vw;
  position: absolute;
  top: 100px;
  left: 0px;
  display: none;
}
#restart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-79%, 80%);
  cursor: pointer;
  font-size: 1.25em;
  color: #fff;
}